body, html{
  width: 100%;
  height:100%;
  padding:0;
}

.wrap{
  width: 100%;
  height:100%;
}

a{transition: .3s;}

hr{
  margin:50px auto 0;
  width:95%;
  border:1px solid lightgray;
  max-width:1200px;
}

.spacer{
  margin:65px;
}

/* ====== TOP NAV ======== */

.topNav{
  background-color: white;
  width:100%;
  min-height: 100px;
  padding:20px;

}

.navWrap{
  width:100%;
  height:50px;
  margin:0 auto;
  max-width:1200px;
  position:relative;
}

@media only screen and (max-width:600px){
.topNav{
  transition:.3s;
  min-height: 75px;
  padding:5px;

}
}

.logo{
  width:65px;
  height:65px;
  float: left;
  color:white;
  transition:.3s;
  border:7px solid #ef6c00;
  border-radius:50%;
  text-align:center;
  position:relative;
  top:-5px;
  }

.logo:hover{cursor:pointer;}

.logo h4{
  font-family:roboto slab,arial, sans serif;
  font-weight:600;
  margin:7% 5%;
  font-size:23px;
  letter-spacing:1px;
  transition:.3s;
  color:gray;
}

.logo h4 a{

  transition:.3s;
  color:gray;
  position:absolute;
  top:22%;
  left:20%
}

.logo:hover h4 a{
  text-decoration:none;
  color:black;
}

@media only screen and (max-width: 475px){
 .logo{
   margin:10px 0 0 7px;
   width:55px;
   height:55px;
}

.logo h4 a{
  font-family:roboto slab,arial, sans serif;
  margin:5% 3%;
  font-size:17px;
}
}


#menuRight{
  float: right;
  display: block;
  height:65px;
  width:80%;
}

#menuRight ul{
  height:65px;
  position:absolute;
  right:0px;

}
#menuRight ul li{
  display: inline;
  padding: 20px 5px;
  position:relative;
  top:18px;
  height:65px;
  margin:10px 15px 10px 15px;

}

#menuRight ul li.icon{
  margin:10px 4px 10px 4px;

}

.fa.fa-linkedin{margin-left:10px;}

@media only screen and (max-width:850px){
  #menuRight ul li{
  margin:10px 10px 10px 10px;

}
 #menuRight ul{


  padding:0;


}

}


#menuRight ul li a{
  color: gray;
  height:65px;
  font-size:20px;
  text-decoration: none;
  }

#menuRight ul li a.notIcon{
font-family:roboto, arial, sans-serif;
  font-weight:300;
  }

#menuRight ul li a:hover{
  color: black;

}
#menuRight ul li a:active{
  color: #ef6c00;
  border-bottom:1px solid white;
}


  /* ====== SECTIONS ======== */

#selectedprojects{
  padding-top:35px;
  margin-bottom:25px;
}

  #contentContain{
    height:100%;
  }

.principles{
  background-color:lightyellow;
}

div.principle{
  padding: 20px;
}

.hero{
/* background-color:gray; */

  height: 75%;
  min-height: 550px;
}

.heroAbout{
  height: 550px;
}

@media only screen and (max-width:600px){
  .heroAbout{
   height: 475px;
  }
}

@media only screen and (max-width:550px){
  .heroAbout{
   height: 425px;
  }
}

.hero.home{
/* background-color:gray; */
  position:relative;
  height: 95%;
  min-height: 550px;
}

.section{
   /*overflow:auto;*/
  padding:0;
}

.workDotContain{
  width:100%;
position:absolute;
bottom:90px;
margin:0 auto;
transition:.3s;
}

/*
.section.hero{
 position:relative;
} */


/* ====== HERO ======== */

#heroContain{
  width:100%;
  margin:0 auto;
  position:relative;
  top:27%;

}

#heroContain.home{
  top:20%;
}

@media only screen and (max-width:600px){
#heroContain{
  top:23%;
}

#heroContain.home{
  top:20%;
}
}

.heroLogo{
  width:100%;
  height:auto;
  text-align:center;
}

.heroLogo h2{
  font-family:roboto slab,arial, sans serif;
  font-weight:600;
  color:white;
  font-size:60px;
  margin-top:15%;
  transition:.3s;
}

@media only screen and (max-width: 450px){
 .heroLogo h2{font-size:50px;}
}

@media only screen and (max-width: 390px){
 .heroLogo h2{font-size:40px;}
}

 ul.heroSpecialties{
   margin:0 auto;
   outline: 1px solid red;
  width:326px;
  padding:0;
  margin:15px auto 50px;;
}

 .heroSpecialties li{
   display:inline;
   padding:25px;
font-size:24px;
width:70px;
font-family:roboto,arial,sans-serif;
font-weight:300;
color:white;
      outline: 1px solid red;


}

#heroCTA a, #resumeCTA a{
display:block;
  background-color: #ef6c00;
  color:black;
  margin:0 auto;
  padding:10px 25px;
 width:150px;
 font-size:20px;
 text-align:center;
 border-radius:5px;
 font-family:roboto, arial, sans-serif;
 font-weight:400;
 t
}

#heroCTA a:hover, #resumeCTA a:hover{
  background-color: yellow;
  text-decoration: none;

}

.triangleBottom{
  width:0;
  height:0;
  border-left:2600px solid white;
  border-top:200px solid transparent;
  position:absolute;
  bottom:0;
}

.triangleTop{
  width:0;
  height:0;
  border-right:2600px solid white;
  border-bottom:200px solid transparent;
  position:absolute;
  top:0;
}

/* LETS WORK TOGETHER CTA */


.botCTAcont{
    /* outline:1px solid red; */
    height:60px;
    width:50%;
    margin:10px 0;
    float:left;
position:relative;
}

.bottomCTA
{
    padding:20px;
    text-align:center;
    clear:both;
    background-color:black;
}

.bottomCTA h2
{
    font-size:50px;
    color:lightgray;
    font-weight:300;

}

.bottomCTA h3{
    margin:40px;
    text-transform: uppercase;
   }
.bottomCTA a{
    padding:10px;
    border: 1px solid #ef6c00;
    color:white;
    width:200px;
    border-radius: 5px;
    display:block;
    float:left;
    position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-family:roboto, arial, sans-serif;
        font-weight:400;
    /* transition: .3s; */
   }

@media only screen and (min-width:700px)
{
    .bottomCTA a{width:300px; font-size:20px;}
}


   .bottomCTA a:hover{
     color:black;
       background-color: #ef6c00;
       text-decoration: none;
      }

@media only screen and (max-width:550px){

.botCTAcont{width:100%;}

}


/* OVERRIDES FOR #resumeCTA over #homeCTA */

#resumeCTA{}

#resumeCTA a{width:200px; padding:5px 20px;}

#resumeCTA a i.fas {font-size:24px; margin-left: 10px;}

  /* ====== FOOTER ======== */

footer{

  width: 100%;
  background-color: black;
  padding: 25px 15px 20px;
  color:white;
  font-family:roboto, arial, sans-serif;
}

.footTitle, .letsConnect
{
  font-family:roboto slab, georgia, serif;
    font-size:16px;
}

.footTitle span
{
  font-family:roboto slab, georgia, serif;
  font-weight:100;
  opacity:.75

}


.footerWrap
{
  margin:0 auto;
  width:98%;
  max-width:1200px;
  padding:0 20px;
  clear:both;
}

ul.footerMenu li{
 display:inline;
 margin-right:20px;

}

ul.socialIconsFoot li{
 display:inline;
 margin-left:20px;

}

ul.footerMenu li a{
 font-size:16px;
 font-family:roboto, arial, sans-serif;
 color:lightgray;

}

ul.footerMenu li a:hover{
text-decoration:none;
 color:white;
}

ul.socialIconsFoot li a{
 font-size:22px;

}

p.copyright{
  text-align:center;
  clear:both;
  margin-top:80px;
  font-family:roboto, arial, sans-serif;
  font-weight:100;
  font-size:14px;

}

.footLeft{
  outline: 0px solid red;
  float:left;
  text-align:left;
  margin:15px 0;
  }

  .footLeft ul{
  padding:0;
  }

  .footRight{
  outline: 0px solid red;
  float: right;
  text-align:right;
   margin:15px 0;
  }

  @media only screen and (max-width:620px){
    .footRight, .footLeft{float:none; width:100%; text-align:center;}
    .footRight{margin-top:30px;}
    .footerMenu{margin-left:20px;}
    .socialIconsFoot{margin-left:-70px;}
  }

  /* ====== PORTFOLIO ======== */

section.portfolio{
  width:100%;
  height:auto;
  display:table;
  clear:both;
overflow:auto;

padding:10px 40px;

  /*outline:1px solid red;
  background-color:rgba(0,0,0,.85);*/
}

@media only screen and (max-width:800px){
section.portfolio{
  display:block;
  height:auto;
  overflow:visible;
 }
}

.portfolioContain{
   width:100%;
   max-width:1300px;
   margin:0 auto;
  height:100%;
  position:relative;
  top:-25px;


}

.portfoliothumb{
  width:50%;
  height:400px;
  /*outline:1px solid red;*/
  padding:20px;
transition:.5s;


}

.portfoliothumb:hover{

  }

 .portfolioImg{
   text-align:center;
   overflow:hidden;
background-color: #212529;


  }

 .portfolioImg img{
  transition:.35s;

 }
  .portfolioImg:hover img{
  transform:scale(1.05,1.05);
  opacity:.3;
 }


.portfoliothumb.left{
  /*background-color:green;*/
   float:left;
   position:relative;
   top:-32px;
   margin:0px;
}

.portfolioImg.left{
  width:100%;
  height:100%;
}


.portfoliothumb.right{
  /*background-color:red;*/
   position:relative;
   float:right;
   margin:0px;
}

.portfolioImg.right{
  width:100%;
  height:100%;

}

.portfoliothumb img{
  object-fit:cover;
  width:100%;
  height:100%;
}

.title{
  width:93%;
  position:absolute;
  font-size:28px;
  top:38%;
  color:white;
opacity:0;
transition:.35s;
   z-index:10;
   font-family: roboto slab, georgia, serif;
}


.disciplines{
  width:93%;
  position:absolute;
    font-size:17px;
  top:51%;
   color:white;
   opacity:0;
   transition:.35s;
   z-index:10;
      font-family: roboto, arial, sans-serif;
      font-weight:300;

}

.portfolioImg:hover .title{
  opacity:1;
top:39%;
  }

  .portfolioImg:hover .disciplines{
  opacity:1;
 top:50%;
  }

@media only screen and (min-width:801px) and (max-width:1040px)
{
  .title.long{
    width:65%;
    left:17%;
    top:34%
    }


  .portfolioImg:hover .title.long{
    width:65%;
    left:17%;
    top:35%
    }

    .disciplines.long{
    width:65%;
    left:17%;
    top:56%;
    }


  .portfolioImg:hover .disciplines.long{
    width:65%;
    left:17%;
top:55%;
    }
}

@media only screen and (max-width:550px)
{
  .disciplines{
  width:88%;

}

.title{
  width:88%;
}

  .title.long{
  width:90%;
  /*outline:1px solid;*/
  margin:0 auto;
  padding:0 20px;
  position:absolute;
  font-size:28px;
  top:36%;
  left:5%;
  color:white;
opacity:0;
transition:.35s;
   z-index:10;
   font-family: roboto slab, georgia, serif;
}
.disciplines.long{
  width:88%;
  position:absolute;
    font-size:17px;
  top:58%;
   color:white;
   opacity:0;
   transition:.35s;
   z-index:10;
      font-family: roboto, arial, sans-serif;
      font-weight:300;

}

.portfolioImg:hover .title.long{
  opacity:1;
top:37%;
  }

   .portfolioImg:hover .disciplines.long{
  opacity:1;
 top:57%;
  }
}

@media only screen and (max-width:380px)
{
  .title, .title.long{
    font-size:22px;
  }
  .title{
      width:81%;
  }
   .title.long{
      width:80%;
      left:10%;

  }
   .disciplines, .disciplines.long{
    font-size:14px;
      width:82%;
  }
}

@media only screen and (max-width:800px){
section.portfolio{
 padding:10px 10px;
 display:block;
 }
 .portfoliothumb{
  padding:25px;

}
.portfoliothumb{
  height:400px;

}

.portfoliothumb.left{

  width:100%;
   float: none;

   margin:0px;
}

.portfoliothumb.right{

   float: none;
   width:100%;
   margin:0px;
   top:-31px;
}


}




@media only screen and (min-width:1400px){
.portfoliothumb{
  height:500px;

}

section.portfolio{
  height:auto;
}



@media only screen and (max-width:425px){

h2.projectTitle{
    font-size:40px;
    margin-top:-40px;


}
